body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  margin-bottom: 30px;
}
.container {
  max-width: 960px;
}
textarea{
  background: transparent;
  resize: none;
  color: #000000;
  padding: 15px 20px 15px 20px;
}

.jumbotron {
  text-align: center;
  background-image: url("../img/office.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 350px;
  padding-top: 260px;
  padding-bottom: 10px;
  /*background-color: transparent;*/
  color: white;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
  margin-left: .2em;
  margin-right: 0em;
  width: 85.3%;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;
}

.hour {
  border-radius: 100%;
  text-align: center;
  margin-top: 0em;
  margin-bottom: 0em;
  background-color: #44484d;
  color: #ffffff;
  width: 7%;
  margin-right: 0em;
  margin-left: 0em;
  padding: 1.5em .2em 1.5em .2em;
  float:left;
}

.past {
  background-color: #657b83;
  color: whitesmoke;
}

.present {
  background-color: #e1b047;
  color: white;
}

.future {
  background-color: #175a6c;
  color: white;
}

.saveBtn {
  border-radius: 100%;
  text-align: center;
  margin-top: 0em;
  margin-bottom: 0em;
  background-color:#44484d;
  color: #ffffff;
  width: 7%;
  padding: 1.5em .6em 1.5em .6em;
  float: right;
}

.saveBtn i:hover {
  transition: all .3s ease-in-out;
  padding-left: .6em ;

}
@media only screen and (max-width: 700px)
{
  .container {
    max-width: 500px;
  }
  .saveBtn{
    width: 14%;
    padding-right: 1em;
    padding-left: .8em;
  }
  .hour {
    width: 14%;
    padding-right: 1.7em;
    padding-left: .3em;
  }
  .time-block {
    width: 70%;
  }
}
