body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  margin-bottom: 30px;
}

.data {
  background: transparent;
}

textarea{
  background: transparent;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-image: url("../img/office.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 350px;
  padding-top: 260px;
  padding-bottom: 10px;
  /*background-color: transparent;*/
  color: white;
  border-radius: 0;
  border-bottom: 10px solid black;
}

/*.jumbotron{
  background-image: url("./assets/img/mcttpic.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  max-height: 500px;
 }*/

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
  width: 88%;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px solid #000000;
  width: 4%;
  padding-top: .5em;
  float:left;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  font-size: 1.2em;

  color: white;
  padding: .8em .4em .8em .4em;
  width: 8%;
  float: right;
}

.saveBtn i:hover {
  transition: all .3s ease-in-out;
  padding-left: .5em ;

}
